.body_background {
    background-image: url(bg1.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-size:50px;
}

#myCanvas {
    background-color: white;
    border-color: blueviolet;
    border-width: 10px;
    border-style: ridge;
}